##################################################################
###                         MACROS                             ###
##################################################################

[idle_timeout]
timeout: 1800
gcode:
  POWEROFF_PRINTER


[gcode_macro POWEROFF_PRINTER]
gcode:
  # Moonraker action
  {action_call_remote_method('set_device_power',
                             device='Printer',
                             state='off')}

[gcode_macro PRINT_START_PHASE_1]
gcode:
  BED_MESH_CLEAR
  G28
  Z_TILT_ADJUST
  BED_MESH_PROFILE LOAD=default

[gcode_macro PRINT_START_PHASE_2]
gcode:
  G21 ;metric values
  G90 ;absolute Positionierung
  M82 ;Extruder in den absoluten Modus setzen
  M107 ;Luefter aus
  G92 E0 ;Extruderlaenge nullen

  G0 Z1.5 F300 ; move z up little to prevent scratching of surface
  G0 X0 Y340 F15000 ; move to start-line position
  G0 Z0.6 F120 ; move to start-line position
  G92 E0                 ; reset extruder
  G0 Z0.6 E5  F600 ; move to start-line position
  G92 E0                 ; reset extruder
  G1 X150   F1800 E12  ; draw 1st line
  G92 E0                 ; reset extruder
  G1 Y339.5 F1200        ; move to side a little
  G1 X50.0  F1800 E8 ; draw 2nd line
  G92 E0                 ; reset extruder
  G1 Y339 F1200        ; move to side a little
  G1 X150   F1800 E8  ; draw 3rd line
  G92 E0                 ; reset extruder

[gcode_macro PRINT_END]
gcode:
  M104 S0 ;Heizpatrone ausschalten
  M140 S0 ;Heizbett ausschalten
  G91 ;relative Positionierung
  G1 Z+10.5
  G1 E-1 F400  ;Filament einziehen
  G1 Z+10.5 E-2 F180 ;Druckplatte nach unten fahren und Filament etwas einziehen
  G90 ;absolute Positionierung
  G1 X315 F600
  G1 Y340 F600
  M107 ;Bauteilluefter ausschalten
  M84 ;Steppermotoren aus
